{{#if errors}}
    <div class="alert alert-danger">
        <h1>Something went wrong</h1>
        <p>{{errors.type}}</p>
        <p>{{errors.message}}</p>
    </div>
{{/if}}

<h1>Witaj {{userInfo.name}}</h1>