<h1>Logowanie</h1>
<hr>

{{#if errors}}
    <div class="alert alert-danger">
        <h1>Something went wrong</h1>
        <p>{{errors.type}}</p>
        <p>{{errors.message}}</p>
    </div>
{{/if}}

<form action="/authenticate/process" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" placeholder="Type a email" name="email" id="email" autocomplete="off" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>  
        <input type="password" placeholder="Type password" name="password" id="password" autocomplete="off" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Wyślij</button>
</form>